@{
    ViewBag.Title = "Index";
}
<div id="my-react-app"></div>

<script src="~/Scripts/ReactUi/bundle.js"></script>

@if (ViewBag.EnableBrowserSync ?? false)
{
    <script id="__bs_script__">
//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
//]]></script>
}
